<h1>Ao Map demo:</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js" ></script>
<script src="<%= demoName %>/js/main.js"></script>


This is an attempt at making an <a href="https://en.wikipedia.org/wiki/Ambient_occlusion">ambient occlusion</a> map using the basic material.