<h1>DAE EXPORTER</h1>

<div id="demo"></div>
<textarea id="dae_output" cols="70" rows="20"></textarea>


<script src="/js/threejs/0.140.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.140.0/loaders/SVGLoader.js" ></script>
<script src="/js/threejs/0.140.0/exporters/ColladaExporter.js" ></script>


<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
