
<div id="source-layer-ui"> </div>
<div id="draw-layer-ui"> </div>

<script src="/js/vue/2.6.14/vue.js" ></script>
<script src="/js/threejs/0.127.0/three.min.js"></script>
<script src="/js/threejs/0.127.0/loaders/ColladaLoader.js" ></script>


<script src="/forpost/threejs-examples-tool-source-layer-3d/r0/js/dae_tools.js"></script>
<script src="/forpost/threejs-examples-tool-source-layer-3d/r0/js/main.js"></script>
<script src="/forpost/threejs-examples-tool-source-layer-3d/r0/js/draw.js"></script>

