<%

   if(!links){
   
       links = [];
   
   }

%>

<h3> I am a the demo index</h3>

<p><a href="/demos/r91">r91 demos</a></p>

<h3>links:</h3>

<% links.forEach(function(link){ %>

 <a href="<%= link.href %>"><%= link.name.replace(/-/g,' ') + ' DEMO ' || 'no name' %></a>  <br>

<% }); %>