<h1> I am the Main page</h1>
<p>
The demos section is where to go for all the demos broken down by revision number.
</p>

<div id="demo"></div>

<script src="/js/threejs/0.127.0/three.min.js" ></script>
<script src="/js/threejs/0.127.0/controls/OrbitControls.js" ></script>

<script src="/demos/r127/examples-backyard/js/utils.js"></script>
<script src="/demos/r127/examples-backyard/js/guy.js"></script>
<script src="/demos/r127/examples-backyard/js/hamster_wheel.js"></script>
<script src="/demos/r127/examples-backyard/js/house.js"></script>
<script src="/demos/r127/examples-backyard/js/main.js"></script>