<%

   // demo *.ejs file relative to this template
   let demoIndex = '../demos/r' + r + '/' + demoName + '/index'

%>


<h2>three.js demo page: </h2>
<ul>
  <li>demoName : <%= demoName %></li>
  <li>revision used : r<%= r %></li>
</ul>


<script src="/js/threejs/0.<%= r %>.0/three.min.js" ></script>
<%- include(demoIndex,this) %>

<br>
<br>
<br>