<%

   // demo *.ejs file relative to this template
   //let demoIndex = '../demos/r' + r + '/' + demoName + '/index'

%>


<h2>three.js demo page: </h2>
<ul>
  <li>videoName : <%= videoName %></li>
</ul>

<br>
<br>
<br>