<h1> The test_threejs Repo Main Page </h1>

<p>
As the name suggests in this repo I am testing out all kinds of things that have to do with the javaScript library known as three.js. So then this repo is more or less just one massive collection of simple quick demos of various features, video projects, crude models, javascript modules and so forth that make use of threejs, and a few select other resources.
</p>

<table>

<tr>

<td>

<h2>The Demos Section</h2>
<p>
The demos section is now treated as a starting point for threejs source code examples, broken down by revision number. It is here that I test out some code with a specific revision of threejs to make sure that an older code example is still working with a newer version of threejs. When doing so I can make any needed changes to older code that might break, while still keeping the older source code examples in there respective revision number folders.
</p>

</td>

<td rowspan="2">
<div id="demo"></div>
</td>

</tr>

<tr>
<td>
<h2>The Videos Section</h2>
<p>
In the videos section I am creating projects where the aim is to have a final product that is a video of some kind. This sort of thing is still in the works as of this write so I do not want to write to much about it at this point.
</p>
</tr>

<tr>
<td colspan="2">
<h2>The For Post Section</h2>
<p>
In the for post section I am starting to put togethaer folders of source code that have will be the final source code examples for my blog posts. At the time of this writing many of the source code examples are in the demos section still, but I would like for this new section to be the final place for the examples in my coresponding blog posts on threejs. This is also a place to park readme files, todo lists, and any addtional notes, links, and other resources while doing research on a given topic.
</p>
</tr>

</table>


<script src="/js/threejs/0.140.0/three.min.js" ></script>
<script src="/js/threejs/0.140.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.135.0/loaders/ColladaLoader.js" ></script>

<script src="/forpost/threejs-examples-weird-face-1/r0/js/dae-tools-r2.js"></script>
<script src="/forpost/threejs-examples-weird-face-1/r0/js/lerp-geo.js"></script>
<script src="/forpost/threejs-examples-weird-face-1/r0/js/werid-face.js"></script>
<script src="/forpost/threejs-examples-weird-face-1/r0/js/main.js"></script>

<!--
<script src="/forpost/threejs-examples-hamster-wheel/s2-ground-textures/js/utils.js"></script>
<script src="/forpost/threejs-examples-hamster-wheel/s2-ground-textures/js/guy.js"></script>
<script src="/forpost/threejs-examples-hamster-wheel/s2-ground-textures/js/hamster_wheel.js"></script>
<script src="/forpost/threejs-examples-hamster-wheel/s2-ground-textures/js/main.js"></script>
-->

<!--
<script src="/js/modules_group/tree/0.0.0/tree.js"></script>
<script src="/forpost/threejs-examples-tree/s3_loop/js/main.js"></script>
-->

<!--
<script src="/demos/r127/examples-biplane/js/biplane.js"></script>
<script src="/demos/r127/examples-biplane/js/main.js"></script>
-->
