<%
   if(!links){
       links = [];
   }
%>

<h3>revision demos:</h3>
<% links.forEach(function(link){ %>
 <a href="<%= link.href %>"><%= 'revision - ' + link.name.replace(/-/g,'_') + ' - demos' || 'no name' %></a>  <br>
<% }); %>