<%

   // demo *.ejs file relative to this template
   let folderIndex = '../forpost/' + folderName + '/' + demoName +'/index'

%>

<p>For Post Folder: <%= folderName %></p>
<p>Demo Name: <%= demoName %></p>

<div id="demo"></div>
<br>

<%- include(folderIndex, this) %>


<br>
<br>
<br>