<%
   if(!links){
       links = [];
   }
%>

<h3>Forpost Folders:</h3>
<div class="links">
<% links.forEach(function(link){ %>
 <a href="<%= link.href %>"><%= '' + link.name.replace(/-/g,'_') + '' || 'no name' %></a>  <br><br>
<% }); %>

<% try{ %>
    
    <textarea style="width:100%;height:200px;">
<%= text %>
    </textarea>

<% }catch(e){ %>

    </textarea>


<% } %>