<%

   // demo *.ejs file relative to this template
   let demoIndex = '../demos/r' + r + '/' + demoName + '/index'

%>


<h2>three.js demo page: </h2>
demoName : <%= demoName %><br>
revision used : r<%= r %>

<%- include(demoIndex,this) %>

<!-- loading three.js -->
<script src="/js/threejs/0.<%= r %>.0/three.min.js" ></script>