<%

   // demo *.ejs file relative to this template
   let videoIndex = '../videos/' + videoName + '/index'

%>


<h2>three.js demo page: </h2>
<ul>
  <li>arr : <%= arr %></li>
  <li>videoName : <%= videoName %></li>
</ul>

<%- include(videoIndex, this) %>

<br>
<br>
<br>