<h1>Look at method function domain prototype</h1>

<div id="demo"></div>


<script src="/demos/r<%= r %>/<%= demoName %>/js/seq-hooks.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
