<h1>Three.js (r127) DAE Loader demo</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.<%= r %>.0/loaders/ColladaLoader.js" ></script>
<script src="<%= demoName %>/js/main.js"></script>
