<h1>THREEJS Werid face 1 dae example</h1>

<div id="demo"></div>

<script src="/js/threejs/0.135.0/loaders/ColladaLoader.js" ></script>

<script src="/demos/r<%= r %>/<%= demoName %>/js/dae-tools-r2.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
