<h1> r152 Aplay Sin Frames </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.152.0/three.module.js",
            "OrbitControls": "/js/threejs/0.152.0/controls/OrbitControls.js"
        }
    }
</script>

<script type="module" src="/demos/r152/examples-aplay-sin-frames/main.js"></script>
