<h1>Timeline module prototype</h1>

<div id="demo"></div>

<script src="/js/threejs/0.146.0/three.min.js" ></script>
<script src="/js/threejs/0.146.0/loaders/ColladaLoader.js"></script>
<script src="/js/threejs/0.146.0/controls/OrbitControls.js"></script>

<script src="/demos/r146/examples-timeline/timeline.js"></script>
<script src="/demos/r146/examples-timeline/main.js"></script>
