<%

   // default page to 'main'
   if(!page){

       let page = 'main';

   }
   
%>

<html>

<%- include("_parts/head.ejs",this) %>

<body>




<%- include("_parts/nav.ejs",this) %>

<div class="content_container container">
<%- include("_parts/page_" + page + ".ejs",this) %>
</div>


<div class="footer">

</div>

</body>

</html>