<%

   // default page to 'main'
   if(!page){

       let page = 'main';

   }
   
%>

<html>

<%- include("_parts/head.ejs",this) %>

<body>

<h1>Three js</h1>

<%- include("_parts/page_" + page + ".ejs",this) %>

</body>

</html>