<h1>Buffer Geometry index basic demo</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/three.min.js" ></script>
<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
