<h1>Getting started</h1>

<div id="demo"></div>

<!--<script src="/js/threejs/0.146.0/controls/OrbitControls.js"></script>-->

<script type="module">

//import * as THREE from '/js/threejs/0.146.0/three.min.js';


//import * as OC from '/js/threejs/0.146.0/controls/OrbitControls.js';

console.log('trying this out');


console.log(THREE)

</script>

<script type="module" src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
