<h1>Getting started</h1>

<div id="demo"></div>

<!--<script src="/js/threejs/0.146.0/controls/OrbitControls.js"></script>-->


<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.146.0/three.module.js",
            "OrbitControls": "/js/threejs/0.146.0/jsm/controls/OrbitControls.js"
        }
    }
</script>

<script type="module" src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
