<h1>SVG LOADER</h1>

<div id="demo"></div>

<!--
<div style="width:100px;">
    <object data="/demos/r140/svg-loader-1/svg/fff.svg" type="image/svg+xml"></object>
</div>
-->
<script src="/js/threejs/0.140.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.140.0/loaders/SVGLoader.js" ></script>

<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
