<h1>SVG MOVEMENT PROTOTYPE</h1>

<div id="demo"></div>

<script src="/js/threejs/0.140.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.140.0/loaders/SVGLoader.js" ></script>

<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
