<h1>Getting started with r152 </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.152.0/three.module.js"
        }
    }
</script>

<script type="module" src="/demos/r152/getting-started-jsm/main.js"></script>
