<h1>Three.js light probe demo</h1>

<div id="demo"></div>

<script src="/demos/r<%= r %>/<%= demoName %>/js/light-probe-gen.js"></script>
<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
