<h1> r162 Getting Started static example </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.162.0/three.module.js",
            "OrbitControls": "/js/threejs/0.162.0/controls/OrbitControls.js"
        }
    }
</script>

<script type="module" src="/demos/r162/getting-started-static/main.js"></script>
