* {
  font-size: 16px;
  line-height: 18px;
}
body{
  background:#5f5f5f;
  margin:0px;
  padding:0px;
}

.container{
  padding: 25px;
  margin:0px;
}

.nav_container{
  background:#000000;
  color: #ffffff;
  text-align:center;
}

.content_container{
  background: #4f4f4f;

}

#demo{
  display:block;
  background:lime;
  width:640px;
  /*max-width:100%;
  max-height:100%;*/
  /*width: 700px;*/
  margin-right:auto;
  margin-left:auto;
}

#demo > canvas {
    width:640px;
    height:480px;
}

.links > a {
  font-size: 20px;
  line-height: 8px;
}

a:link { color: #b8b8b8 }
a:visited { color: #888888 }
a:hover { color: #ffffff }