<h1> r152 Text Geometry Demo </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.152.0/three.module.js",
            "FontLoader": "/js/threejs/0.152.0/loaders/FontLoader.js",
            "TextGeometry": "/js/threejs/0.152.0/geometry/TextGeometry.js"
        }
    }
</script>

<script type="module" src="/demos/r152/text-geometry/main.js"></script>
