<h1>SVG Tools r146 prototype</h1>

<div id="demo"></div>

<script src="/js/threejs/0.146.0/three.min.js" ></script>
<script src="/js/threejs/0.146.0/loaders/SVGLoader.js"></script>
<script src="/js/threejs/0.146.0/controls/OrbitControls.js"></script>

<script src="/demos/r146/examples-svg-tools/svg-tools.js"></script>
<script src="/demos/r146/examples-svg-tools/main.js"></script>
