<h1> r152 demo - examples-tri12-scene </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.152.0/three.module.js",
            "OrbitControls": "/js/threejs/0.152.0/controls/OrbitControls.js",
            "VertexNormalsHelper": "/js/threejs/0.152.0/helpers/VertexNormalsHelper.js"
        }
    }
</script>

<script type="module" src="/demos/r152/examples-tri12-scene/main.js"></script>