<h1>Three.js (r127) DAE Loader demo</h1>

<div id="demo"></div>

<script src="/js/threejs/0.127.0/controls/OrbitControls.js" ></script>

<script src="/js/threejs/0.127.0/loaders/ColladaLoader.js" ></script>
<script src="/js/utils/dae_tools/0.1.0/dae_tools.js" ></script>

<script src="<%= demoName %>/js/main.js"></script>
