<h1>Breath module prototype</h1>

<div id="demo"></div>

<script src="/js/threejs/0.146.0/three.min.js" ></script>
<script src="/js/threejs/0.146.0/loaders/ColladaLoader.js"></script>
<script src="/js/threejs/0.146.0/controls/OrbitControls.js"></script>

<script src="/demos/r146/examples-breath-module/breath.js"></script>
<script src="/demos/r146/examples-breath-module/main.js"></script>
