
body {
    margin:0px;
    padding:0px;
    color: white;
}

#demo{
   position: relative;
   width:640px;
   height:200px;
}
.aniloop_parent{
   position: absolute;
}
.aniloop_child{
  position: absolute;
  left: 0px;
  top: 0px;
}