<h1>Three.js example</h1>

<div id="demo"></div>

<script src="/js/threejs/0.<%= r %>.0/controls/OrbitControls.js" ></script>

<script src="<%= demoName %>/js/tree.js" ></script>
<script src="<%= demoName %>/js/main.js"></script>
