<h1>Three.js (r135) DAE Loader demo</h1>

<div id="demo"></div>

<script src="/js/threejs/0.135.0/controls/OrbitControls.js" ></script>
<script src="/js/threejs/0.135.0/loaders/ColladaLoader.js" ></script>

<script src="<%= demoName %>/js/dae-tools-r2.js" ></script>
<script src="<%= demoName %>/js/main.js"></script>
