<h1>THREEJS Werid face 1 dae MOUTH UPDATE example</h1>

<div id="demo"></div>
<srv src="/demos/r140/svg-loader-1/svg/fff.svg">

<script src="/js/threejs/0.140.0/controls/OrbitControls.js" ></script>

<script src="/demos/r<%= r %>/<%= demoName %>/js/main.js"></script>
