<h1>Getting started with r150 </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            //"three": "/js/threejs/0.150.0/three.module.r150dev.feb.10.2023.ec3e38a25ffcfdc4f8eaacfecd57b317900bb595.js",
            "three": "/js/threejs/0.150.0/three.module.r150dev.feb.13.2023.31e7b1fc7abb9c0933002e6c80a10d67c6e4cf3d.js"
            //"three": "/js/threejs/0.150.0/three.module.r150dev.feb.14.2023.9a0ea14aec7eac8c22370d681fa0a4b85b6a7c3d.js"
        }
    }
</script>

<script type="module" src="/demos/r150/getting-started-jsm/main.js"></script>
