<h1>Getting started with r149 </h1>

<div id="demo"></div>

<script type="importmap">
    {
        "imports": {
            "three": "/js/threejs/0.149.0/three.module.js",
            "OrbitControls": "/js/threejs/0.149.0/controls/OrbitControls.js"
        }
    }
</script>

<script type="module" src="/demos/r149/getting-started-jsm/main.js"></script>
