<h1>quaternion methods slerp</h1>

<div id="demo"></div>

<script src="/js/threejs/0.146.0/three.min.js" ></script>
<script src="/js/threejs/0.146.0/controls/OrbitControls.js"></script>

<script src="/demos/r146/quaternion-methods-slerp/main.js"></script>
