<h1>Getting started</h1>

<div id="demo"></div>

<script src="/js/threejs/0.150.0/three.min.js" ></script>
<!--<script src="/js/threejs/0.150.0/controls/OrbitControls.js"></script>-->

<script src="/demos/r150/<%= demoName %>/main.js"></script>
