<h1>Getting started</h1>

<div id="demo"></div>

<!-- <script src="/js/threejs/0.150.0/three.min.ec3e38a25ffcfdc4f8eaacfecd57b317900bb595.js" ></script>-->

<script src="/js/threejs/0.150.0/three.js" ></script>

<!--<script src="/js/threejs/0.150.0/controls/OrbitControls.js"></script>-->

<script src="/demos/r150/<%= demoName %>/main.js"></script>
