<h1>Three.js Guy1 Model</h1>

<div id="demo"></div>
<script src="/js/threejs/0.135.0/three.min.js"></script>
<script src="/js/threejs/0.135.0/controls/OrbitControls.js" ></script>

<script src="/forpost/threejs-examples-lines-sphere-circles/r0/js/main.js"></script>